/***** BASE STYLES *****/

body {
    font-family: 'Roboto', sans-serif;
    height:3350px;
    margin: 0 auto;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
h2 {
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 120px;
    margin: 0px;
}

/***** GRID *****/

.full-width {
    width: 1400px;
    margin: 0 auto;
}
.half-width{
    width: 700px;
    height: 400px;
    float: left;
}
.third-width{
    width: 466px;
    height: 150px;
    float: left;
}

/***** HEADER *****/

header {
    height: 800px;
    text-align: center;
    background: url('../img/hero-image.png');
    background-size: cover;
}
header h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #bdbf09;
    font-size: 60px;
    margin: auto;
    padding-top: 350px;
}
header p {
    color: #095256;
    font-size: 48px;
    padding: 0px 300px;
}

/***** WORK *****/

#work{
    height: 1450px;
    color: #095256;
}
.photo {
    height: 350px;
    width: 550px;
    padding-left: 100px;
}
.text {
    padding-right: 100px;
}
#work #about .half-width{
    text-align: left;
}

/***** ABOUT *****/

#about {
  height: 650px;
    background-color: #087e8b;
    color: white;
}
main h3 {
    font-size: 24px;
    margin: 0px;
}
main p {
    font-size: 24px;
}
h3 span {
    font-weight: normal;
}
.selfphoto{
    height: 350px;
    width: 350px;
    padding-left: 100px;
}

/***** CONTACT *****/

#contact{
    background-color: #095156;
    color: white;
    height: 450px;
    text-align: center;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
     padding-right: 50px;
}
