/***** BASE STYLES *****/


body {
  font-family: 'Roboto', sans-serif;
  width: 1400px;
  height:3350px;
}

/***** GRID *****/

#about{
  height: 650px;

}

#contact{
  height: 450px;
  text-align: center;
}

#work #about .half-width{
  text-align: left;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 120px;
  margin: 0px 0px 0px 0px;
}

.full-width {
  width: 1400px;
  margin: 0px 0px 0px 0px;
}

.half-width{
  width: 700px;
  height: 400px;
  float: left;
}

.third-width{
  width: 466px;
  height: 150px;
  float: left;
}

.photo {
  height: 350px;
  width: 550px;
  padding-left: 100px;
}

.text {
  padding-right: 100px;
}

/***** HEADER *****/

header {
  height: 800px;
  width: 1400px;
  text-align: center;
  background: url('../img/hero-image.png');
  background-size: cover;
}

header h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #bdbf09;
  font-size: 60px;
  margin: auto;
  padding-top: 350px;
}

header p {
  color: #095256;
  font-size: 48px;
  padding: 0px 300px 0px 300px;
}

/***** WORK *****/

#work{
  height: 1450px;
  color: #095256;
}

/***** ABOUT *****/

#about{
background-color: #087e8b;
background-size: cover;
color: white;
}

main h3 {
  font-size: 24px;
  margin: 0px 0px 0px 0px;
}

main p {
  font-size: 24px;
}

h3 span {
    font-weight: normal;
}

/***** CONTACT *****/

#contact{
  background-color: #095156;
  color: white;
}
