/***** BASE STYLES *****/


body {
  font-family: 'Roboto', sans-serif;
}

/***** GRID *****/

#work{
  height: 1450px;

}

#about{
  height: 650;

}

#contact{
  height: 450;
  text-align: center;
}

#work #about .half-width{
  text-align: left;
}

h2 {
  text-align: center;
}

.full-width {
  width: 1400px;
  margin: 0 auto;
}

.half-width{
  width: 700px;
  height: 400px;
  float: left;
}

.third-width{
  width: 466px;
  height: 150px;
  float: left;
}

.photo {
  height: 350px;
  width: 550px;
  padding-left: 100px;
}

.text {
  padding-right: 100px;
}

/***** HEADER *****/

header {
  height: 800px;
  width: 1400px;
  text-align: center;
  background: url('../img/hero-image.png');
  background-size: cover;
}

header h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #bdbf09;
  font-size: 60px;
  margin: auto;
}

header p {
  color: #095256;
  font-size: 48px;
}
